<div class="container">
    <table class ="table table-bordered table-hover">
    <thead class="thead-dark text-white">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Webiste</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let u of users'>
        <td>{{u.id}}</td>
        <td>{{u.name}}</td>
        <td>{{u.UserName}}</td>
        <td>{{u.Email}}</td>
        <td>{{u.Website}}</td>
        <td>{{u.address}}</td>
        </tr>
    </tbody>
</table>
</div>
