<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">HTTP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/business">business</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/entertainment">entertainment</a>
          </li>
          <li class="nav-item">
                <a class="nav-link" routerLink="/general">general</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/health">health</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/science">science</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/sports">sports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/technology">technology</a>
              </li>
      </ul>
    
    </div>
  </nav>


